<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
  
    <h1><%= Home %></h1>
    <a href="flights/new">Add Flight</a>
    <a href="flights">All Flights</a>
    <!-- <a href="/meals/new">Flight Meals</a> -->

  <%- include("./partials/footer") %>
